<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Диплом</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab|Vollkorn:400i" rel="stylesheet">
  <link rel="stylesheet" href="..//styleSheets/home.css">
</head>

<body>
  <div class="main-container">
    <div class="blur-circle1">

    </div>
    <div class="blur-circle2">

    </div>
      <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo"><b><%=name%></b></a>
        <ul class="links">
          <li>Home</li>
          <li>About Us</li>
          <li>Work</li>
          <li>Info</li>
          <li>Get Started</li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Looking For Inspiration</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
          <button><%=buttonName%></button>
        </div>
        <div class="image">
          <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Page -->
</div>
<script src="..//javaScript/script.js"></script>
</body>

</html>